/* ! body background */

body {
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}

/* ! title background */

#titlediv {
    background-image: url("../images/titlebg.png");
    background-repeat: repeat;
}

/* ! logo title */

#css_logo {
    font-family: 'Fascinate Inline', cursive;
    font-size: 75px;
    text-shadow: 2px 2px 5px gray;
}

#css_slogan {
    font-size: 23px;
}

/* ! beer icon on the top left corner (home button) */

#beericon {
    cursor: pointer;
    color: gray;
}

#beericon:hover {
    color: white !important;
}

/* ! global container color */

.css_contcolor {
    background-color: rgb(244, 191, 79);
}

/* ! option div */

.css_optdiv {
    color: rgb(52, 57, 64);
    cursor: pointer;
}

.css_optdiv:hover {
    color: ghostwhite !important;
}

/* ! option icon */

.css_opticon {
    font-size: 120px;
}

/* ! make smaller icons on mobile  */

@media screen and (max-width: 600px) {
    .css_opticon {
        font-size: 80px;
    }
    .css_opticontext {
        font-size: 20px;
    }
    #css_logo {
        font-size: 60px;
    }
    #css_slogan {
        font-size: 22px;
    }
}

/* ! map  */

#map {
    height: 300px;
    width: 450px;
}